@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<DropDown T="DummyDataDto"
		  Items="DummyData"
		  DisplayProperty="FullName"
		  IdentifierProperty="Id"
		  ValueChanged="OnSelectedItem"
		  CanSearch="true" />





<br />
<br />

<div class="flex-col">
	<div class="flex-col mtb1">
		<Select Label="Dummy data"
				Info="You can select some dummy data"
				Items="@DummyData"
				Display="DummyData => DummyData.FullName"
				TItem="DummyDataDto"
				OnItemSelect="OnSelectedItem"
				HideIcon="false"
				Width="400px" />
	</div>

</div>


<br />
<br />

<MultiSelect T="DummyDataDto"
			 Items="DummyData"
			 IdentifierProperty="Id"
			 DisplayProperty="FullName"
			 ValuesChanged="OnSelectedItemsChanged"
			 CanSearch="true"
			 SearchPlaceHolder="Search..."
			 CustomStyle=""
			 Width="35%" />